@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 bg-[#7f2615] text-[#fef3c7];
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply min-h-screen;
}
