@page "/about"

<PageTitle>About</PageTitle>

<section class="relative w-screen" style="margin-left: calc(50% - 50vw); margin-right: calc(50% - 50vw);">
  <img src="img/About.png" alt="Merry Crustmas story illustration" class="w-full h-auto block" />
</section>
