@page "/order"
@using System.Security.Claims
@using System.Diagnostics
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Order</PageTitle>

<h1>Your Once-a-Year Holiday Slice</h1>

@if (claims.Any())
{
    <ul>
        @foreach (var claim in claims)
        {
            <li><b>@claim.Type:</b> @claim.Value</li>
        }
    </ul>
}

@code {
    private static readonly ActivitySource ActivitySource = new("PizzaShop.Web.Auth");
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();

    [CascadingParameter]
    private Task<AuthenticationState>? AuthState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using (ActivitySource.StartActivity("Auth.Order.Arrived"))
        {
            if (AuthState == null)
            {
                return;
            }

            var authState = await AuthState;
            claims = authState.User.Claims;
        }
    }
}
